@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.navbar {
  height: 80px !important;
  color: white;
}

.navbar-brand {
  font-size: 32px !important;
  font-family: 'Space Mono', 'Times New Roman', Times, serif;
}
.navbar-nav {
  background: #212529 !important;
  align-items: center !important;
  font-family: 'Space Mono', 'Times New Roman', Times, serif;
}

.nav-link {
  display: flex !important;
  color: #fff !important;
}

.nav-link:hover {
  border-bottom: 2px solid white !important;
}

.navbar-nav p {
  margin: 0 !important;
}

@media screen and (max-width: 1199px) {
  .navbar-nav p {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .Nav-header {
    font-size: 20px !important;
  }
}
