body {
  background: radial-gradient(#e5e5e5, #fff, #e5e5e5);
}

.card {
  margin: 20px;
  width: 20rem;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.8);
  border: 3px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 20px !important;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rbga(0, 0, 0, 0.253) !important;
}

.card-body {
  padding: 1.4rem 0 !important;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}

.container-fluid .row {
  padding-top: 4rem;
}

.d-flex {
  flex-direction: row !important;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100% !important;
}

/* .box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8,
.box-9 {
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  height: 600px;
  max-height: 30vh;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}

.box {
  margin: 20px;
}



.grid > div {
  flex-basis: calc(33.333% - 40px);
}

button {
  cursor: pointer;
  text-align: center;
} */ ;
