@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

h2 {
  font-family: 'Space Mono', 'Times New Roman', Times, serif;
  margin: 10px auto 30px;
  color: #fff;
  margin-top: 8vh;
}

.input-form {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
  background: #fff;
  padding: 15px 25px;
  color: #333;
  border: 3px solid rgb(73, 198, 255);
  border-radius: 10px;
  background: #e5e5e5;
}

.form-label {
  font-weight: bold;
  color: #000;
}

.form-control {
  border: 2px solid black !important;
  border-radius: 8px !important;
}
