.navbar {
  height: 80px !important;
  color: white;
}

.navbar-brand {
  font-size: 32px !important;
}
.navbar-nav {
  background: #212529 !important;
  align-items: center !important;
}

.nav-link {
  display: flex !important;
  color: #fff !important;
  /* max-width: 200px; */
}

.nav-link:hover {
  border-bottom: 2px solid white !important;
}
