.planet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.planet-img img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.planet-info {
  align-items: flex-start;
}

.card-planet {
  width: auto !important;
}

.row {
  align-items: center;
}

.card-text p {
  font-size: 16px;
}
