@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

h2 {
  font-family: 'Space Mono', 'Times New Roman', Times, serif;
  margin: 10px auto 30px;
  color: #fff;
  margin-top: 8vh;
}

.input-form {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
  background: #fff;
  padding: 15px 25px;
  color: #333;
  border: 3px solid rgb(73, 198, 255);
  border-radius: 10px;
  background: #e5e5e5;
}

.form-label {
  font-weight: bold;
  color: #000;
}

.form-control {
  border: 2px solid black !important;
  border-radius: 8px !important;
}

.entry-name {
  margin: 5px 20px;
}

.delete-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 20px !important;
  width: 75%;
  border: 3px solid #000;
  border-radius: 8px !important;
  background: rgb(250, 87, 87);
  color: #000;
  font-weight: bold;
}

.delete-button:hover {
  opacity: 0.7;
}
