.all-planets ul {
  list-style-type: none;
}

.page-container {
  background: url('./assets/spacebg.jpg') no-repeat center center/cover;
  text-align: center;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}
