.planet-detail-container {
  padding: 0 5px 5px 5px;
}

.planet-img {
  margin: auto;
}

.planet-img img {
  border-radius: 50%;
  width: 400px;
  height: 350px;
}

.planet-img img:hover {
  border: 3px solid white;
  transition: 0.2s ease-in-out;
  transform: translateY(-10px);
}

.planet-info-container {
  margin: auto;
  width: 60%;
}

.card-planet {
  width: auto !important;
}

.row {
  align-items: center;
}

.card-text p {
  font-size: 16px;
}

#planet-header {
  font-size: 36px;
}

@media screen and (max-width: 600px) {
  .planet-img img {
    border-radius: 50%;
    width: 200px;
    height: 150px;
  }

  .card-text {
    width: 85%;
    font-size: 12px !important;
    padding: 5px 15px !important;
    text-align: center !important;
  }
}
